/* Header Section */
h1 {
    color: #000000;
    font-weight: 1000;
    font-size: 3rem;
    margin: 0;
    background-image: url('librarybanner.jpeg');
    background-size: cover;
    background-position: center;
    padding: 10px 20px;
    border-radius: 4px;
}

